# Firebase Service Account (recommended, paste the full JSON as a single line)
FIREBASE_SERVICE_ACCOUNT=""

# Enable MOZ API
MOZ_ENABLED=true

# Your MOZ API Token (get from https://moz.com/products/mozscape/access)
MOZ_API_TOKEN=